
<!--Carrito de compras-->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carrito de Compras</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <div class="row" sec:authorize="isAnonymous()">
        <div class="col">
          <h3>Inicia sesión para ver tus productos en la canasta..<i class="bi bi-cart3"></i></h3>
        </div>
      </div>
      <div class="row" sec:authorize="isAuthenticated()">

            <div class="col" >
              <th:block th:each="itemsCarrito, status : ${itemsCarrito}">
            <div class="row border rounded" th:id="'row' + ${status.count}" th:with="productos = ${itemsCarrito.producto}" >
              <div class="col-1">
                <div>[[${status.count}]]</div>
                <div><a th:class="'bi bi-trash text-danger link-remove' + ${productos.idProducto}" th:rowNumber="${status.count}" th:href="@{'/carrito/eliminar/'+${productos.idProducto}}"></a></div>
              </div>
              <div class="col-3">
                <img th:src="@{'https://arrisinvation.s3.us-east-2.amazonaws.com/img/recursos/' + ${productos.imagen}}" th:alt="${productos.imagen}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-6">
                <div>
                  <a th:href="@{'/producto?id='+${productos.idProducto}}" th:title="${productos.nombre}" target="_blank">
                    <b>[[${productos.nombre}]]</b>
                  </a>
                </div>
                <div th:replace="web/templates/control_cantidad :: control_cantidad(${itemsCarrito.cantidad}, ${itemsCarrito.producto.idProducto}, ${productos.disponibles})">Cantidad</div>
                <div>
                  <span>X</span>
                  <span>$[[${productos.precio}]]</span>
                  <span>=&nbsp;</span><span class="h4">$</span><span th:id="'subtotal' + ${productos.idProducto}" class="h4 productosSubtotal">[[${itemsCarrito.subtotal}]]</span>
                </div>
              </div>
              <script th:inline="javascript">
    $(document).ready(function() {
    $(".minusButton[[${productos.idProducto}]]").on("click", function(evt) {
            evt.preventDefault();
            decreaseCantidad[[${productos.idProducto}]]($(this));
        });

        $(".plusButton[[${productos.idProducto}]]").on("click", function(evt) {
                evt.preventDefault();
                increaseCantidad[[${productos.idProducto}]]($(this));
            });

        $(".link-remove[[${productos.idProducto}]]").on("click", function(evt){
            evt.preventDefault();
            removeDeCarrito[[${productos.idProducto}]]($(this));
        });


    updateTotal();
});

function removeDeCarrito[[${productos.idProducto}]](link) {
    url = link.attr("href");
    var timestamp = new Date().getTime();

    $.ajax({
        type: "POST",
        url: url,
        beforeSend: function(xhr) {
            xhr.setRequestHeader(csrfHeaderName, csrfValue)
        }
    }).done(function(response) {
    $('body').css({'overflow':'unset'});
        $('body').css({'padding-right':'0'});
        $("#modalTitle").text("Carrito de compras");
        if(response.includes("removed")) {
            $("#myModal").on("hide.bs.modal", function(e) {
                rowNumber = link.attr("rowNumber");
                removeProducto(rowNumber);
                updateTotal();
            });
        }
        $("#modalBody").html(response);
        $("#myModal").modal("show");
        $.get("/actualizar_producto?id="+[[${productos.idProducto}]]+"&t="+timestamp, function(data) {$(".seccion_menu").html(data);});
        $.get({
    url: "/actualizar_carrito?id=" + [[${productos.idProducto}]],
    cache: false,
    success: function(data) {
        $("#seccion_carrito").html(data);
        setTimeout(function() {
    location.reload();
}, 4000);
    },
    error: function(xhr, status, error) {
        console.error("Error cargando datos:", error);
    }
});



    }).fail(function() {
              $("#modalTitle").text("Carrito de compras");
              $("#modalBody").text("hubo un error inesperado al intentar agregar el producto al carrito de compras");
              $("#myModal").modal("show");
          })
}

function removeProducto(rowNumber) {
    rowId = "row" + rowNumber;
    $("#" + rowId).remove();
}

function decreaseCantidad[[${productos.idProducto}]](link) {
    productoId = link.attr("pid");
                ctlInput = $("#cantidad" + productoId);

                newCtl = parseInt(ctlInput.val()) - 1;
                if(newCtl > 0) {
                 ctlInput.val(newCtl);
                 updateCantidad(productoId, newCtl);
                 }
}

function increaseCantidad[[${productos.idProducto}]](link) {

    productoId = link.attr("pid");
                    ctlInput = $("#cantidad" + productoId);

                    newCtl = parseInt(ctlInput.val()) + 1;
                    if(newCtl <= pro[[${productos.idProducto}]]) {
                    ctlInput.val(newCtl);
                    updateCantidad(productoId, newCtl);
                    }

}

function updateCantidad(productoId, cantidad) {
    url = contextPath + "carrito/actualizar/" + productoId + "/" + cantidad;

    $.ajax({
        type: "POST",
        url: url,
        beforeSend: function(xhr) {
            xhr.setRequestHeader(csrfHeaderName, csrfValue)
        }
    }).done(function(newSubtotal) {
        updateSubtotal(newSubtotal, productoId);
        updateTotal();
    }).fail(function() {
              $("#modalTitle").text("Carrito de compras");
              $("#modalBody").text("hubo un error inesperado al intentar agregar el producto al carrito de compras");
              $("#myModal").modal("show");
          });
}

function updateSubtotal(newSubtotal, productoId) {
    $("#subtotal" + productoId).text(newSubtotal);
}
function updateTotal() {
    total = 0;

    $(".productosSubtotal").each(function(index, element) {

        total = total + parseFloat(element.innerHTML);
    })

    $("#totalAmount").text("$ " + total);
}
</script>
            </div>
            <div class="row m-1">&nbsp;</div>
          </th:block>
        </div>

        <div th:unless="${#lists.isEmpty(itemsCarrito)}">
          <div>
            <span class="h3">Estimación Total:</span>
          </div>
          <div>
            <span class="h2 mt-2" id="totalAmount"></span>
          </div>
          <div class="mt-2">
            <a class="nav-link" th:href="@{/comprar_productos}">
              <button class="btn btn-warning p-3 mt-2">Comprar ahora</button>
            </a>
          </div>
        </div>
        <div th:if="${#lists.isEmpty(itemsCarrito)}">
          <h3>No tienes productos en el carrito aun..<i class="bi bi-cart3"></i></h3>
        </div>
      </div>
    </ul>
  </div>
</div>
<!--Fin de carrito de compras-->