<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros Lipem's.in</title>
  <!--Favicon-->
  <link rel="shortcut icon" th:src="@{../img/Logo Mauricio png.png}" type="image/x-icon">
  <!--Bootstrap Styles-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <!--Page Styles-->
   <link rel="stylesheet" href="../css/styleIndex.css">
   <!--Bootstrap Icons-->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
   <!--Slide Productos Recientes Styles-->
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <!--Bootstrap Scripts-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script>
   <!--Fuentes-->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro">
</head>
<body>
  <!--Inicio de Menu-->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top color-menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img th:src="@{../img/Logo Mauricio png.png}" alt="" width="60" class="d-inline-block align-text-center ">
        <span class="badge">Lipem's.in</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
        <div th:replace="web/templates/menu"></div>
      </div>
    </div>
  </nav>
  <!--Fin de Menu-->  
  <div class="container-fluid text-center">
    <h1>Nosotros</h1>
    <img src="../logo/Logo Mauricio png.png" alt="" width="50%">
    <hr>
    <div class="row">
      <div class="col-md-6" style="margin: auto;">
        <h1>Misión</h1>
          <p>La misión de Lipems.in es ofrecer la mejor experiencia de compra de ropa informal para dama y caballero, ofreciendo unos excelentes servicios con un alto rendimiento eficaz, para así posicionarnos en la industria de la moda informal.</p>
      </div>
      <div class="col-md-6" style="margin: auto;">
        <img src="../img/mision.png" alt="" width="50%">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="margin: auto;">
        <img src="../img/vision.png" alt="" width="50%">
      </div>
      <div class="col-md-6" style="margin: auto;">
        <h1>Visión</h1>
          <p>Ser una empresa líder de comercialización y distribución de prendas de vestir que pueda llegar a clientes de diferentes estratos así facilitando diferentes diseños y conexiones al gusto del consumidor.</p>
      </div>
    </div>
    <hr>
    <div class="p-5">
      <h1>¿Quienes somos?</h1>
      <p>¿Quiénes somos?
        Lipems.in es una empresa colombiana especializada en la comercialización y distribución de prendas de vestir informal para damas y caballeros con mas de 8 años de trayectoria en el mercado, todo esto va a la vanguardia en el sector de la moda, para poder brindar la mejor calidad a cada uno de nuestros clientes.</p>
    </div>
    
  </div>
  <div th:replace="web/templates/carrito"></div>
  <div class="b-example-divider mt-4"></div>
    <!--Footer inicio-->
    <div class="footer-color">
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-4">
              <h5>Ropa</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="./mujer.html" class="nav-link p-0 text-muted">Mujer</a></li>
                <li class="nav-item mb-2"><a href="./hombre.html" class="nav-link p-0 text-muted">Hombre</a></li>
                <li class="nav-item mb-2"><a href="./nino.html" class="nav-link p-0 text-muted">Niño</a></li>
              </ul>
            </div>
      
            <div class="col-4">
              <h5>Nosotros</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="../templates/manual_coorporativo.html" class="nav-link p-0 text-muted">Manual Coorporativo</a></li>
                <li class="nav-item mb-2"><a href="../templates/nosotros.html  " class="nav-link p-0 text-muted">¿Quienes Somos?</a></li>
              </ul>
            </div>
      
            <div class="col-4">
              <h5>Login</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="../../interfaz_administrador/interfaz_administrador.html" class="nav-link p-0 text-muted">Administrador</a></li>
                <li class="nav-item mb-2"><a href="../../interfaz_empleado/interfaz_empleado.html" class="nav-link p-0 text-muted">Empleados</a></li>
                <li class="nav-item mb-2"><a href="../../interfaz_cliente/interfaz_cliente.html" class="nav-link p-0 text-muted">Clientes</a></li>
              </ul>
            </div>
      
            
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top border-dark">
            <a href="../index.html" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <img src="./logo/Logo Mauricio png.png" alt="" width="35">
              <span class="text-muted">© 2022 Lipem's.in</span>
            </a>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-whatsapp"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
    
    <!--Footer final--> 
</body>
<script type="text/javascript" >
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
</script>
</html>

