<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:each="productos : ${productos}" th:text="'Lipem´s.in Producto - ' + ${productos.nombre}"></title>
    <link rel="shortcut icon" th:href="@{../img/Logo Mauricio png.png}" type="image/x-icon">
    <!--Bootstrap Styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Page Styles-->
    <link rel="stylesheet" href="../css/styleIndex.css">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--Slide Productos Recientes Styles-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!--Bootstrap Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script>
</head>
<style>
    .pagination {
        justify-content: center;
    }
</style>
<!-- modal informacion sobre agregar-->

<div class="modal" tabindex="-1" data-bs-toggle="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- fin modal informacion sobre agregar-->
<body>
<!--Inicio de Menu-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top color-menu">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{../img/Logo Mauricio png.png}" alt="" width="60" class="d-inline-block align-text-center ">
            <span class="badge">Lipem's.in</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
            <div th:replace="web/templates/menu"></div>
        </div>
    </div>
</nav>
<div class="container marketing">
    <!--Title Page Content-->
    <div class="p-3">
        <h1 class="bd-title text-center" th:each="productos : ${productos}" th:text="${productos.nombre}"></h1>
    </div>
    <div th:each="productos : ${productos}" th:if="${productos.estado} != 'Activo' or ${productos.disponibles} == 0 or ${productos.disponibles} == null">
        <div class="alert alert-danger">Este producto no se encuentra disponible en este momento
        </div>
    </div>
    <!--division-->
    <hr class="featurette-divider">
    <!--content page-->
    <div id="col-div" class="row justify-content-center">
        <div class="col-change col-2 one border border-2 rounded-3 pad-img"><img width="100%" onclick="cambio(1)" src="../../img/imagenes_ventas_pagina/IMG_20210318_190051966_MP.png" alt=""></div>
        <div class="col-change col-2 two border border-2 rounded-3 pad-img"><img width="100%" onclick="cambio(2)" src="../../img/imagenes_ventas_pagina/IMG_20210318_190250526.png" alt=""></div>
        <div class="col-change col-2 three border border-2 rounded-3 pad-img"><img width="100%" onclick="cambio(3)" src="../../img/imagenes_ventas_pagina/IMG_20210318_190426229.png" alt=""></div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-6 align-self-start " >
            <img width="100%" id="it" class="demo" th:each="productos : ${productos}" onclick="transicion();"  th:src="@{'https://arrisinvation.s3.us-east-2.amazonaws.com/img/recursos/' + ${productos.imagen}}" alt="">
        </div>
        <div class="col-md-6 align-self-center text-center ">
            <div  class="card" style="width: 100%;">
                <svg id="zoom-img-card" class="bd-placeholder-img card-img-top repose" width="100%" height="420" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title th:each="productos : ${productos}"  th:text="${productos.nombre}">Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>

                <div class="card-body">
                    <i class="bi bi-patch-check" style="color: green;"></i><p class="card-text" th:each="productos : ${productos}" th:text="${productos.nombre}"></p>
                    <i class="bi bi-patch-check" style="color: green;" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'"></i><p class="card-text" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'" th:text="'Stock: '+${productos.disponibles}"></p>
                    <i class="bi bi-patch-check" style="color: green;" th:each="productos : ${productos}" th:if="${productos.estado} != 'Activo' or ${productos.disponibles} == 0 or ${productos.disponibles} == null"></i><p class="card-text" th:each="productos : ${productos}" th:if="${productos.estado} != 'Activo' or ${productos.disponibles} == 0 or ${productos.disponibles} == null" th:text="'No hay disponibilidad de productos'"></p>
                    <i class="bi bi-patch-check" style="color: green;" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'"></i><p class="card-text" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'" th:text="'Precio: '+${productos.precio}"></p>
                    <i class="bi bi-patch-check" style="color: green;" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'"></i>
                    <div class="card-text">
                    <h5>Cantidad</h5>
                        <center>
                        <div th:each="productos : ${productos}">
                            <div th:replace="web/templates/control_cantidad_producto :: control_cantidad(1, ${productos.idProducto}, ${productos.disponibles})">Cantidad</div>
                        </div>
                        </center>
                </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" style="background-color: #fde703; color: black;" th:each="productos : ${productos}" th:if="${productos.disponibles} != null and ${productos.disponibles} != 0 and ${productos.estado} == 'Activo'" id="addCarrito">Añadir al carrito <i class="bi bi-cart3"></i></button>
                        <button class="btn btn-primary" type="button" style="background-color: #fde703; color: black;" th:each="productos : ${productos}" th:if="${productos.estado} != 'Activo' or ${productos.disponibles} == 0 or ${productos.disponibles} == null" disabled>No disponible <i class="bi bi-cart3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="web/templates/carrito"></div>
<!--Footer inicio-->
<div th:replace="web/templates/pie_paginas"></div>
<!--Footer final-->

</body>
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script th:src="@{js/zoomsl.js}"></script>
<!--Initialize Zooms1-->
<script>
    function zoomChangeWidth(){
      let anchoPantalla = innerWidth;
    if(anchoPantalla > 1000){
      let img = document.getElementById("zoom-img-card");
      img.setAttribute('style', 'display: block !important;');
      jQuery(function(){

    // если отсутсвует zoomsl-3.0.min.js
  if(!$.fn.imagezoomsl){

    $('.msg').show();
    return;
  }
     else $('.msg').hide();


  // инициализация плагина
  $('.demo').imagezoomsl({

    descarea: ".repose",
    zoomrange: [1, 12],
    magnifiereffectanimate: "fadeIn",
    magnifierborder: "none"
  });
});
    }
    else{
      if(anchoPantalla < 1000){
        let img = document.getElementById("zoom-img-card");
        /* img.style.display = "none !important" */
        img.setAttribute('style', 'display: none !important;');
      }
    }
    }
    zoomChangeWidth();

    </script>
<!--Change IMG-->
<script >
      cont=550;
      document.getElementById("it").style.top = "450px";
      function cambio(imagen){
          direccion=new Array();
          direccion[1]=src="../../img/imagenes_ventas_pagina/IMG_20210318_190051966_MP.png";
          direccion[2]=src="../../img/imagenes_ventas_pagina/IMG_20210318_190250526.png";
          direccion[3]=src="../../img/imagenes_ventas_pagina/IMG_20210318_190426229.png";
          document.getElementById("it").src=direccion[imagen];
      }

      $('#col-div .one').addClass('border-info');
      $('.col-change').click(function(){
        $('.col-change').removeClass('border-info');
        $(this).addClass('border-info');
      })

    </script>
<script type="text/javascript" th:each="productos : ${productos}" th:with="productos = ${productos}">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
    var productoId = "[[${productos.idProducto}]]";
    var disponibles = [[${productos.disponibles}]];
</script>
<!--cambio de col-->
<script src="../../js/img-change.js"></script>
<script th:src="@{js/add_to_carrito.js}"></script>
<script th:src="@{js/add_cantidad.js}"></script>
</html>