<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Inicio de sesion</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" th:src="@{../img/Logo Mauricio png.png}" type="image/x-icon">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!--Bootstrap Styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<style>
    *{
        font-size: 2rem;
    }
    button {
        font-size: 1.5rem !important;
    }
</style>
<body style="background-color: #FFC900;">

<di class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/login}">
                Inicio de sesión</a>
        </div>
    </div>
</di>

<br>
<br>

<div class="container-fluid text-center ">

    <div class="card text-white bg-dark mb-3 position-absolute top-50 start-50 translate-middle" style=" max-width:18rem; height:50%;">
        <div class="card-header bg-dark bg-gradient">Sesión <a th:href="@{/home}" style="float: right;"><button type="button" class="btn btn-dark border border-danger">Volver</button></a></div>
        <div class="card-body">
            <form th:action="@{/login}" method="POST">
                <div class="input-group mb-3 input-group-lg">
                    <div th:if=${param.error}>
                        <div class="alert alert-danger">Usuario o contraseña inválidos
                        </div>
                    </div>

                    <div th:if=${param.logout}>
                        <div class="alert alert-info">Ha cerrado sesión exitosamente
                        </div>
                    </div>
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" id="usuario" name="username" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3 input-group-lg">
                    <span class="input-group-text" id="basic-addon1">*</span>
                    <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" id="contraseña" name="password" aria-describedby="basic-addon1" required>
                </div>
                <div>
                    <a th:href="@{/forgot_password}">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit" class="btn btn-dark border border-warning">Enviar</button> <a th:href="@{/registro}"><button type="button" class="btn btn-dark border border-warning">Registrarse</button></a>
            </form>
        </div>
        <div class="card-body bg-dark bg-gradient">Powered by:<h6>Gaes 4©</h6><img src="../logo/Logo Mauricio png.png" alt="" width="50%"></div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
