<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/searchpanes/2.1.0/js/dataTables.searchPanes.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" language="javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script type="text/javascript" class="init">




$(document).ready(function () {
    // Create DataTable
    var table = $('#myTable').DataTable({
  dom: 'Bfrtip',
  buttons: [{
    extend: 'pdfHtml5',
    title: 'Reportes Ventas Lipem`s.in',
    orientation: 'portrait',
    pageSize: 'A4',
    text: 'Export PDF',
    customize: function(doc) {
      // Add custom content after the page content
      doc['footer'] = (function(page, pages) {
        return {
          columns: [{
            text: 'Lipem`s.in, cualquier duda llamar al 7555-5454-555',
            fontSize: 8,
            alignment: 'center',
            margin: [0, 0, 0, 8]
          }],
          margin: [20, 0]
        };
      });
      doc.content.push({
        text: 'Lipem`s.in',
        alignment: 'center',
        fontSize: 8,
        color: '#444444',
        margin: [0, 0, 0, 20]
      });
    }
  }, 'copy', 'csv', 'excel', 'print']
});

    // Create the chart with initial data
    var container = $('<div/>').insertBefore(table.table().container());

    var chart = Highcharts.chart(container[0], {
        chart: {
            type: 'pie',
            fill: 'transparent',
        },
        title: {
            text: 'Ventas con mas pedidos',
        },
        series: [
            {
                data: chartData(table),
            },
        ],
    });

    // On each draw, update the data in the chart
    table.on('draw', function () {
        chart.series[0].setData(chartData(table));
    });
});

function chartData(table) {
    var counts = {};

    // Count the number of entries for each position
    table
        .column(1, { search: 'applied' })
        .data()
        .each(function (val) {
            if (counts[val]) {
                counts[val] += 1;
            } else {
                counts[val] = 1;
            }
        });

    // And map it to the format highcharts uses
    return $.map(counts, function (val, key) {
        return {
            name: key,
            y: val,
        };
    });
}


	</script>
<script>
    const validar = function(campo) {
  let valor = campo.value;

  // Verifica si el valor del campo (input) contiene numeros.
  if(/\d/.test(valor)) {

    /*
     * Remueve los numeros que contiene el valor y lo establece
     * en el valor del campo (input).
     */
    campo.value = valor.replace(/\d/g,'');
  }


};


function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, j, visible;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    visible = false;
    /* Obtenemos todas las celdas de la fila, no sólo la primera */
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        visible = true;
      }
    }
    if (visible === true) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}

var estado = document.getElementsByClassName('estado')
function estados(){
  for(i=0;i<estado.length;i++){
  if(estado[i].textContent == "Activo"){
    estado[i].classList.add('bg-success');
  }
  else{

    estado[i].classList.add('bg-danger');
  }
}
}
estados();

var select = document.getElementById('producto');
var precio = document.getElementsByClassName('precio');
var cantidad = document.getElementById('cantidad');
var mostrarTotal = document.getElementById('mostrarTotal');
var iva = document.getElementById('iva');
var mostrarSubTotal = document.getElementById('mostrarSubtotal');

console.log(precio.length)



select.addEventListener('change',
  function(){
    var selectedOption = this.options[select.selectedIndex];
    console.log(selectedOption.value + ': ' + selectedOption.text);
    for(i=0;i<precio.length;i++){
if(precio[i].dataset.value == selectedOption.value){
  precio[i].classList.add('activada');
  precio[i].classList.remove('d-none');

}
else {
 precio[i].classList.add('d-none');
 precio[i].classList.remove('activada');
}
  console.log(precio[i].dataset.value)
}
var contenido = document.querySelector('.activada');
console.log(Number(contenido.textContent)*Number(cantidad.value))
mostrarSubTotal.innerHTML = "SubTotal: $" + Number(contenido.textContent)*Number(cantidad.value);
iva.innerHTML = "IVA: $"+((Number(contenido.textContent)*Number(cantidad.value))*0.19);
var subIva = ((Number(contenido.textContent)*Number(cantidad.value))*0.19);
mostrarTotal.innerHTML = "Total: $" + (Number(contenido.textContent)*Number(cantidad.value)+subIva);
  });

  cantidad.addEventListener('change',
  function(){
    var cantidadOption = this.options[cantidad.selectedIndex];
    console.log(cantidadOption.value + ':##### ' + cantidadOption.text);
    var contenido = document.querySelector('.activada');
    console.log(Number(contenido.textContent)*Number(cantidad.value))
    var total = Number(contenido.textContent)*Number(cantidad.value);
    mostrarSubTotal.innerHTML = "SubTotal: $" + Number(contenido.textContent)*Number(cantidad.value);
    iva.innerHTML = "IVA: $"+((Number(contenido.textContent)*Number(cantidad.value))*0.19);
    var subIva = ((Number(contenido.textContent)*Number(cantidad.value))*0.19);
    mostrarTotal.innerHTML = "Total: $" + (Number(contenido.textContent)*Number(cantidad.value)+subIva);
  });


var fecha = new Date();
document.getElementById("fecha").value = fecha.toJSON().slice(0,10);

document.getElementById("idUsuario").addEventListener('keyup', autoCompleteNew);

function autoCompleteNew(e) {
    var value = $(this).val();
    $("#password").val(value.replace(/\s/g, '').toLowerCase());
}

      var myModal = document.getElementById('myModal')
      var myInput = document.getElementById('myInput')

      myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
      })
    function check(e) {
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla == 8) {
        return true;
    }

    // Patrón de entrada, en este caso solo acepta numeros y letras
    patron = /[A-Za-z0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}

var Capturar = function(){
        let lstNumero = document.getElementsByClassName("numero"),
            arrayGuardar = [];
        for (var i = 0; i < lstNumero.length; i++) {
            arrayGuardar[i] = lstNumero[i].value;
            console.log (lstNumero[i].value);
            }
        }
        function confirm_change() {
  return confirm('Recuerda que si cambias el estado de la venta no podras volverlo a editar, ¿Estas de acuerdo?');
}
    </script>
<script th:if="${class != null}">
$(document).ready(function() {
    $('#modalCrearVenta').modal('show')
});
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/646c794df3.js"></script>
</html>