<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Información - Cliente</title>
    <link rel="shortcut icon" th:href="@{../img/Logo Mauricio png.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{../css/estilosInterfaz.css}">
</head>
<body>
<!-- Modal cambiar contraseña-->
<div class="modal fade" id="cambiarContrasena" tabindex="-1" aria-labelledby="modalEditarContraseña" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarVenta" >Cambiar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/registro/cambiar-contraseña}"  method="post" >
                    <div class="row">
                        <div class="col">
                        <div>
                            <h5>Contraseña Actual</h5>
                            <input type="password" class="form-control" placeholder="Contraseña Actual" aria-label="password" name="oldPassword" id="oldPassword" aria-describedby="basic-addon1" maxlength="256" required>
                        </div>
                        <div>
                            <h5>Contraseña Nueva</h5>
                            <input type="password" class="form-control" placeholder="Contraseña Nueva" aria-label="password" name="newPassword" id="newPassword" aria-describedby="basic-addon1" maxlength="256" required>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" >Editar</button><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!--Fin de modal cambiar contraseña-->
<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-8 barra">
            <a th:href="@{/home}" >
                <img id="logo" th:src="@{/img/Logo Mauricio png.png}">
                <button type="button" class="btn btn-dark border border-warning">Volver a la tienda <i class="bi bi-bag-heart-fill"></i></button></a>
        </div>
        <div class="col-4 barra1">
            <div class="dropdown">
                <button class="btn  dropdown-toggle boton text-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:each="usuario : ${usuario}" th:if="${usuario.email} == ${#authentication.name} and ${usuario.imagen != ''}" th:src="@{'/recursos/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" class="bd-placeholder-img rounded-circle" width="40">
                    <i th:each="usuario : ${usuario}" th:if="${usuario.email} == ${#authentication.name} and ${usuario.imagen == ''}" class="fas fa-user-circle user"></i>
                </button>
                <ul class="dropdown-menu boton" aria-labelledby="dropdownMenuButton1">
                    <li sec:authorize="isAuthenticated()"><a class="dropdown-item menuperfil cerrar" th:href="@{/logout}"><i class="fas fa-sign-out-alt m-1"></i>Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <h4 class="text-center">Menú Cliente</h4>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a class="nav-link" th:href="@{/compras_cliente}"><i class="fas fa-dollar-sign"></i></i><span>Mis Compras</span></a>
                <a class="nav-link" th:href="@{/solicitudes_pqrs_cliente}"><i class="far fa-smile"></i><span>Mis Solicitudes PQRS</span></a>
                <a class="nav-link enviosBoton d-none" th:href="@{/envios_cliente}" th:each="envio : ${envio}" th:object="${envio}" th:if="${envio.venta.pedido.cliente.email} == ${#authentication.name}"><i class="fas fa-shipping-fast"></i><span>Mis Pedidos a Domicilio</span></a>
            </nav>
        </div>
        <main class="main col">
            <h1>Editar Información - Cliente</h1><br>
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 th:text="${mensaje}"
                 class="alert">
            </div>
            <form th:action="@{/registro/actualizado}" enctype="multipart/form-data" method="post">
                <div class="card mx-auto" style="width: 12rem;" th:each="usuario : ${usuario}" th:if="${usuario.email} == ${#authentication.name}">
                    <img th:src="@{'/recursos/' + ${usuario.imagen}}" th:alt="${usuario.imagen}" th:if="${usuario.email} == ${#authentication.name} and ${usuario.imagen != ''}" class="card-img-top d-block bd-placeholder-img rounded-circle">
                    <i th:if="${usuario.email} == ${#authentication.name} and ${usuario.imagen == ''}" class="fas fa-user-circle user" style="font-size: 12rem;"></i>
                    <div class="card-body">
                        <h5 class="card-title">Foto de perfil.</h5>
                        <ul class="nav flex-column">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-image"></i></span>
                                <input type="file" class="form-control" placeholder="Selecciona un Archivo" aria-label="file" name="file" aria-describedby="basic-addon1">
                            </div>
                        </ul>
                    </div>
                </div>
                <hr>
            <div class="row" th:each="usuario : ${usuario}" th:if="${usuario.email} == ${#authentication.name}">
                <div class="col-6">
                    <h5>N° Documento</h5>
                    <ul class="nav flex-column">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-receipt"></i></span>
                            <input type="number" class="form-control" placeholder="idUsuario" aria-label="idUsuario" name="idUsuario" id="idUsuario" aria-describedby="basic-addon1" maxlength="256" th:value="${usuario.idUsuario}" >
                        </div>
                    </ul>
                </div>
                <div class="col-6">
                    <h5>Nombre</h5>
                    <ul class="nav flex-column">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-receipt"></i></span>
                            <input type="text" class="form-control" placeholder="idUsuario" aria-label="idUsuario" name="idUsuario" id="idUsuario" aria-describedby="basic-addon1" maxlength="256" th:value="${usuario.idUsuario}" hidden>
                            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" name="nombre" id="nombre" aria-describedby="basic-addon1" maxlength="256" th:value="${usuario.nombre}" required>
                        </div>
                    </ul>
                </div>
                <div class="col-6">
                    <h5>Telefono</h5>
                    <ul class="nav flex-column">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-receipt"></i></span>
                            <input type="number" class="form-control" placeholder="N° Telefono" aria-label="telefono" name="telefono" id="telefono" onkeypress="return check(event)"  aria-describedby="basic-addon1" min="0" th:value="${usuario.telefono}" required>
                        </div>
                    </ul>
                </div>
                <div class="col-6">
                    <h5>Correo Electronico</h5>
                    <ul class="nav flex-column">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-receipt"></i></span>
                            <input type="email" class="form-control" placeholder="ejemplo@gmail.com" aria-label="email" name="email" id="email" aria-describedby="basic-addon1" th:value="${usuario.email}" required>
                        </div>
                    </ul>
                </div>
                <div class="col-6">
                    <h5>Dirección</h5>
                    <ul class="nav flex-column">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-receipt"></i></span>
                            <input type="text" class="form-control" placeholder="Dirección" aria-label="direccion" name="direccion" id="direccion" aria-describedby="basic-addon1" maxlength="256" th:value="${usuario.direccion}"   required>
                        </div>
                    </ul>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cambiarContrasena">Cambiar Contraseña</button>
                </div>
                    <div class="container">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </div>
            </div>
            </form>
        </main>
    </div>
</div>
<script>
    function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, j, visible;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    visible = false;
    /* Obtenemos todas las celdas de la fila, no sólo la primera */
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        visible = true;
      }
    }
    if (visible === true) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}

envios = document.getElementsByClassName('enviosBoton')
envios[0].classList.remove('d-none')

var estado = document.getElementsByClassName('estado');
  function estados(){
  for(i=0;i<estado.length;i++){
  if(estado[i].textContent == "Entregado"){
     estado[i].classList.add('bg-success');
  }
  else{
    estado[i].classList.add('bg-danger');
  }
}
}
estados();
  </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/646c794df3.js"></script>
</body>
</html>